@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --normal-font-weight: 400;
    --bold-font-weight: 700; 
    --name-font-size: 20px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--dark-grayish-blue);
    background: url('./images/bg-pattern-top.svg') left top no-repeat, url('./images/bg-pattern-bottom.svg') right bottom no-repeat, var(--dark-cyan); 
    background-position: top -70vh right 50vw, top 50vh left 50vw;
    height: 100%;
}


.container {
    height: 90%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 10px 10px 50px 7px rgba(75, 75, 75, 0.3);
    height: 385px;
    width: 357px;
    text-align: center;
    border-radius: 15px;
}

.container-header img{
    width: 100%;
}

.profile-photo {
    border-radius: 50%;
    border: 7px solid white;
    margin-top: -60px;
    outline: 0;
    background-color: white;
}

h1{
    font-size: var(--name-font-size);
    font-weight: var(--bold-font-weight);
    color: var(--very-dark-desaturated-blue);
}

p{
    font-size: 16px;
    font-weight: 400;
}


.container-profile-name{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hidden{
    visibility: hidden;
}

.container-city{
    margin-top: -20px;
}

hr{
    border: 0;
    border-top: 1px solid hsl(0, 0%, 78%);
    margin-top: 2rem;
}

.container-info{
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    text-align: center;
}
.container-info p {
    margin-top: -0.6rem;
    font-size: 11px;
    color: var(--dark-gray);
    letter-spacing: 2px;
}
.container-info h1 {
    font-size: 18px;
}

footer {
    height: 10%;
}
